In [1]:
import pandas as pd
import numpy as np
from time import time

from preprocess.DataLoader import execute_data_loader
from preprocess.XmlTransformer import xml_transformation

# execute_data_loader()

In [2]:
matches_data = pd.read_csv('../data/match_details.csv')
players_data = pd.read_csv('../data/player_attributes.csv')

df_transformed = xml_transformation(matches_data)

In [ ]:
df_transformed['date'] = pd.to_datetime(df_transformed['date'])
players_data['date'] = pd.to_datetime(players_data['date'])
df_transformed.sort_values(by='date', inplace=True)

In [ ]:
df_transformed[['season', 'result_match']] = df_transformed[['season', 'result_match']].astype('category')

In [ ]:
def calculate_player_stat(match_row):
    player_stats_dict = {}

    for player in players:
        player_id = match_row[player]

        if np.isnan(player_id) == False:
            overall_ranking = player_stats_data.loc[player_stats_data['player_api_id'].eq(player_id)].sort_values(by='date',ascending=False).iloc[0]['overall_rating']
        else:
            if 'home' in player:
                player_id = data.loc[(data['home_team'].eq(match_row['home_team']))][player].value_counts().idxmax()
                data.loc[data.match_api_id == match_row.match_api_id, player] = int(player_id)
                overall_ranking = player_stats_data.loc[player_stats_data['player_api_id'].eq(player_id)].sort_values(by='date', ascending=False).iloc[0]['overall_rating']
            else:
                player_id = data.loc[(data['away_team'].eq(match_row['away_team']))][player].value_counts().idxmax()
                data.loc[data.match_api_id == match_row.match_api_id, player] = int(player_id)
                overall_ranking = player_stats_data.loc[player_stats_data['player_api_id'].eq(player_id)].sort_values(by='date', ascending=False).iloc[0]['overall_rating']

        name = 'overall_rating_{}'.format(player)

        player_stats_dict[name] = int(overall_ranking)
        player_stats_dict['match_api_id'] = match_row.match_api_id

    return player_stats_dict

In [ ]:
start = time()

players = ['{}_player_{}'.format(team, i) for team in ['home', 'away'] for i in range(1, 12)]

def get_player_overall_rating(player_id, match_date):
    player_ratings_on_or_before_match = players_data[
        (players_data['player_api_id'] == player_id) & (players_data['date'] <= match_date)
    ]
    latest_rating = player_ratings_on_or_before_match.sort_values(by='date', ascending=False).iloc[0]['overall_rating']
    return latest_rating

def get_player_id_for_team(row, player, team_type):
    player_id = row[player]

    if not np.isnan(player_id):
        return player_id

    # If the player ID is NaN
    player_id = df_transformed.loc[df_transformed[f'{team_type}_team'].eq(row[f'{team_type}_team'])][player].value_counts().idxmax()
    df_transformed.loc[df_transformed.match_api_id == row.match_api_id, player] = int(player_id)
    
    return player_id

def calculate_player_stat(match_row):
    player_stats_dict = {}
    match_date = match_row['date']

    for player in players:
        team_type = 'home' if 'home' in player else 'away'
        player_id = get_player_id_for_team(match_row, player, team_type)

        overall_ranking = get_player_overall_rating(player_id, match_date)
        name = 'player_rating_{}'.format(player)

        player_stats_dict[name] = int(overall_ranking)
        player_stats_dict['match_api_id'] = match_row.match_api_id

    return player_stats_dict

player_stats_dict = df_transformed.apply(lambda row: calculate_player_stat(row), axis=1)
new_player_stats = pd.json_normalize(player_stats_dict)
df_transformed = pd.merge(df_transformed, new_player_stats, how='left', on='match_api_id')
df_transformed = df_transformed.drop(players, axis=1)

end = time()
print("Calculate player stats in {:.3f} minutes".format((end - start) / 60))

In [ ]:
# Check on which positions given player played
columns_with_value = matches_data.columns[matches_data.eq(40987).any()].tolist()
print(columns_with_value)

In [ ]:
# Test 3: Test that the overall ratings fetched are indeed the latest
# For this test, you'll need to randomly pick some player IDs and cross-check. This is just a basic example.
player_id = 40987
player_col = 'away_player_8'
rating_col = 'player_rating_' + player_col

# Fetch latest match for given player_id on given position
match = matches_data.loc[matches_data[player_col].eq(player_id)].sort_values(by='date',ascending=False).iloc[0]
match_id = match['match_api_id']

# Fetch player rating from given match
rating = df_transformed[df_transformed['match_api_id'] == match_id].iloc[0][rating_col]
print(rating)

# Fetch player rating from players data by id and latest date
latest_rating = players_data[
    (players_data['player_api_id'] == player_id) & (players_data['date'] <= match['date'])
].sort_values(by='date', ascending=False).iloc[0]['overall_rating']
print(latest_rating)

assert rating == latest_rating, f"Incorrect rating for {player_col}"
print("test passed")

In [7]:
def get_scored_goals(row, team):
    return row['home_team_goal'] if row['home_team'] == team else row['away_team_goal']

def average_scored_goals(team, match_date, df, n):
    """
    Calculate the average goals scored by a team over the last n matches before a given date.
    """
    team_matches = df[((df['home_team'] == team) | (df['away_team'] == team)) &
                      (df['date'] < match_date)].sort_values(by='date', ascending=False).head(n)
    
    return team_matches.apply(lambda row: get_scored_goals(row, team), axis=1).mean()

def count_average_goals_from_last_n_matches(row, df, n=3):
    home_team = row['home_team']
    away_team = row['away_team']
    match_date = row['date']

    avg_goals_home = average_scored_goals(home_team, match_date, df, n)
    avg_goals_away = average_scored_goals(away_team, match_date, df, n)

    return avg_goals_home, avg_goals_away

# Usage
N = 12
df_transformed[['home_avg_goals_scored', 'away_avg_goals_scored']] = df_transformed.apply(
    lambda row: count_average_goals_from_last_n_matches(row, df_transformed, n=N), 
    axis=1, 
    result_type='expand'
)

end = time()
print("Calculate average goals from {} matches in {:.3f} minutes".format(N, (end - start) / 60))

Calculate average goals from 12 matches in 0.141 minutes

In [9]:
N = 10
start = time()

def get_conceded_goals(row, team):
    if row['home_team'] == team:
        return row['away_team_goal']
    elif row['away_team'] == team:
        return row['home_team_goal']
    return 0

def average_conceded_goals(team, match_date, n, df):
    """
    Calculate the average conceded goals of a team over the last n matches before a given date.
    """
    team_matches = df[((df['home_team'] == team) | (df['away_team'] == team)) &
                      (df['date'] < match_date)].sort_values(by='date', ascending=False).head(n)

    return team_matches.apply(lambda row: get_conceded_goals(row, team), axis=1).mean()

def count_average_conceded_goals_from_last_n_matches(row, df, n=3):
    home_team = row['home_team']
    away_team = row['away_team']
    match_date = row['date']

    avg_goals_home = average_conceded_goals(home_team, match_date, n, df)
    avg_goals_away = average_conceded_goals(away_team, match_date, n, df)

    return avg_goals_home, avg_goals_away

df_transformed[['home_avg_goals_conceded', 'away_avg_goals_conceded']] = df_transformed.apply(lambda row: count_average_conceded_goals_from_last_n_matches(row, df_transformed, n=N), axis=1, result_type='expand')

end = time()
print("Calculate average goals from {} matches in {:.3f} minutes".format(N, (end - start) / 60))

Calculate average goals from 10 matches in 0.132 minutes

In [10]:
start = time()
def count_previous_wins(df, team, match_date, season):
    """
    Count the number of wins of a team before a given match_date in a given season.
    """
    team_matches = df[((df['home_team'] == team) | (df['away_team'] == team)) &
                      (df['date'] < match_date) &
                      (df['season'] == season)]
    
    home_wins = (team_matches['home_team'] == team) & (team_matches['home_team_goal'] > team_matches['away_team_goal'])
    away_wins = (team_matches['away_team'] == team) & (team_matches['home_team_goal'] < team_matches['away_team_goal'])
    
    return home_wins.sum() + away_wins.sum()

def get_team_wins(row, df):
    """
    Get the number of wins for both the home and away teams for a given match row.
    """
    home_team = row['home_team']
    away_team = row['away_team']
    match_date = row['date']
    season = row['season']

    home_wins = count_previous_wins(df, home_team, match_date, season)
    away_wins = count_previous_wins(df, away_team, match_date, season)

    return home_wins, away_wins

df_transformed[['home_wins', 'away_wins']] = df_transformed.apply(lambda row: get_team_wins(row, df_transformed), axis=1, result_type='expand')

end = time()
df_transformed['wins_diff'] = ((df_transformed['home_wins'] * df_transformed['home_team_strength'] - df_transformed['away_wins'] * df_transformed['away_team_strength']) / 10).astype(int)

In [18]:
start = time()

def get_streak_wins(df, team, match_date):
    team_matches = df[(df['home_team'] == team) | (df['away_team'] == team)]
    recent_matches = team_matches[team_matches['date'] < match_date].sort_values(by='date', ascending=False)
    
    counter = 0
    for _, match in recent_matches.iterrows():
        if (match['home_team'] == team and match['home_team_goal'] > match['away_team_goal']) \
        or (match['away_team'] == team and match['home_team_goal'] < match['away_team_goal']):
            counter += 1
        else:
            break
    return counter

def count_streak_wins(match_row):
    match_date = match_row['date']
    home_team = match_row['home_team']
    away_team = match_row['away_team']

    home_streak = get_streak_wins(df_transformed, home_team, match_date)
    away_streak = get_streak_wins(df_transformed, away_team, match_date)

    return home_streak, away_streak

df_transformed[['home_streak_wins', 'away_streak_wins']] = df_transformed.apply(lambda row: count_streak_wins(row), axis=1, result_type='expand')

end = time()
print("Count streak wins in {:.3f} minutes".format((end - start) / 60))

Count streak wins in 0.152 minutes

In [42]:
start = time()

def get_points(row, team):
    points_mapping = {
        'H': {'home': 3, 'away': 0},
        'D': {'home': 1, 'away': 1},
        'A': {'home': 0, 'away': 3}
    }
    team_type = 'home' if row['home_team'] == team else 'away'
    return points_mapping[row['result_match']][team_type]

def process_points(team, df, match_date, match_season):
    team_matches = df.query('(home_team == @team | away_team == @team) & date < @match_date & season == @match_season')
    if len(team_matches) == 0:
        return 0
    return team_matches.apply(lambda row: int(get_points(row, team)), axis=1).sum()

def count_points(match_row):
    match_date = match_row['date']
    match_season = match_row['season']
    home_team = match_row['home_team']
    away_team = match_row['away_team']

    home_team_points = process_points(home_team, df_transformed, match_date, match_season)
    away_team_points = process_points(away_team, df_transformed, match_date, match_season)

    return home_team_points, away_team_points

df_transformed[['points_home', 'points_away']] = df_transformed.apply(lambda row: count_points(row), axis=1, result_type='expand')

end = time()
print("Count points in {:.3f} minutes".format((end - start) / 60))

Count points in 0.263 minutes

In [49]:
start = time()

def get_last_winners(row):
    if row['home_team_goal'] > row['away_team_goal']:
        return row['home_team']
    elif row['home_team_goal'] < row['away_team_goal']:
        return row['away_team']
    else:
        return 'draw'

def get_teams_match_mask(home_team, away_team):
    return ((df_transformed['home_team'] == home_team) | (df_transformed['home_team'] == away_team)) & \
           ((df_transformed['away_team'] == home_team) | (df_transformed['away_team'] == away_team))

def count_wins_eachother(match_row):
    match_date = match_row['date']
    home_team_ = match_row['home_team']
    away_team_ = match_row['away_team']

    mask_all_matches_between_teams = get_teams_match_mask(home_team_, away_team_)
    sorted_team_matches = df_transformed.loc[mask_all_matches_between_teams & df_transformed['date'].lt(match_date)].sort_values(by='date', ascending=False)
    winners = sorted_team_matches.apply(get_last_winners, axis=1)
    counts = winners.value_counts()

    return counts.loc[home_team_] if home_team_ in counts else 0, counts.loc[away_team_] if away_team_ in counts else 0

df_transformed[['win_eachother_home', 'win_eachother_away']] = df_transformed.apply(count_wins_eachother, axis=1, result_type='expand')

end = time()
print("Get last match winner in {:.3f} minutes".format((end - start) / 60))

Get last match winner in 0.088 minutes

In [50]:
start = time()

N = 10

def get_points(row, team):
    # I'm assuming a simple point system: 3 for a win, 1 for a draw, 0 for a loss.
    # Adjust as needed.
    if row['home_team'] == team and row['home_team_goal'] > row['away_team_goal']:
        return 3
    elif row['away_team'] == team and row['away_team_goal'] > row['home_team_goal']:
        return 3
    elif row['home_team_goal'] == row['away_team_goal']:
        return 1
    else:
        return 0

def get_last_n_matches_points(team, match_date, n):
    mask_team_matches = (df_transformed['home_team'] == team) | (df_transformed['away_team'] == team)
    team_matches = df_transformed[mask_team_matches]
    sorted_matches = team_matches[team_matches['date'].lt(match_date)].sort_values(by='date', ascending=False).iloc[:n]
    points = sorted_matches.apply(lambda row: get_points(row, team), axis=1).sum()
    return points

def count_points_from_n_last_matches(row, n):
    home_points = get_last_n_matches_points(row['home_team'], row['date'], n)
    away_points = get_last_n_matches_points(row['away_team'], row['date'], n)
    return home_points, away_points

df_transformed[['home_sum_points', 'away_sum_points']] = df_transformed.apply(lambda row: count_points_from_n_last_matches(row, n=N), axis=1, result_type='expand')
df_transformed['points_diff'] = df_transformed['home_sum_points'] - df_transformed['away_sum_points']

end = time()
print("Count team sum of points from n last matches in {:.3f} minutes".format((end - start) / 60))

Count team sum of points from n last matches in 0.205 minutes

In [51]:
df_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3040 entries, 0 to 3039
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   match_api_id                   3040 non-null   int64
 1   season                         3040 non-null   category
 2   stage                          3040 non-null   int64
 3   date                           3040 non-null   datetime64[ns]
 4   away_team                      3040 non-null   int64
 5   home_team                      3040 non-null   int64
 6   home_team_goal                 3040 non-null   int64
 7   away_team_goal                 3040 non-null   int64
 8   result_match                   3040 non-null   category
 9   away_shoton                    3040 non-null   int64
 10  away_possession                3040 non-null   int64
 11  home_possession                3040 non-null   int64
 12  home_shoton                    3040 non-null   int64
 13  overall_rating_home_player_1   3040 non-null   int64
 14  overall_rating_home_player_2   3040 non-null   int64
 15  overall_rating_home_player_3   3040 non-null   int64
 16  overall_rating_home_player_4   3040 non-null   int64
 17  overall_rating_home_player_5   3040 non-null   int64
 18  overall_rating_home_player_6   3040 non-null   int64
 19  overall_rating_home_player_7   3040 non-null   int64
 20  overall_rating_home_player_8   3040 non-null   int64
 21  overall_rating_home_player_9   3040 non-null   int64
 22  overall_rating_home_player_10  3040 non-null   int64
 23  overall_rating_home_player_11  3040 non-null   int64
 24  overall_rating_away_player_1   3040 non-null   int64
 25  overall_rating_away_player_2   3040 non-null   int64
 26  overall_rating_away_player_3   3040 non-null   int64
 27  overall_rating_away_player_4   3040 non-null   int64
 28  overall_rating_away_player_5   3040 non-null   int64
 29  overall_rating_away_player_6   3040 non-null   int64
 30  overall_rating_away_player_7   3040 non-null   int64
 31  overall_rating_away_player_8   3040 non-null   int64
 32  overall_rating_away_player_9   3040 non-null   int64
 33  overall_rating_away_player_10  3040 non-null   int64
 34  overall_rating_away_player_11  3040 non-null   int64
 35  home_team_strength             3040 non-null   float64
 36  away_team_strength             3040 non-null   float64
 37  home_avg_goals_scored          3024 non-null   float64
 38  away_avg_goals_scored          3022 non-null   float64
 39  home_avg_goals_conceded        3024 non-null   float64
 40  away_avg_goals_conceded        3022 non-null   float64
 41  home_wins                      3040 non-null   int64
 42  away_wins                      3040 non-null   int64
 43  wins_diff                      3040 non-null   int32
 44  home_streak_wins               3040 non-null   int64
 45  away_streak_wins               3040 non-null   int64
 46  points_home                    3040 non-null   int64
 47  points_away                    3040 non-null   int64
 48  win_eachother_home             3040 non-null   int64
 49  win_eachother_away             3040 non-null   int64
 50  home_sum_points                3040 non-null   float64
 51  away_sum_points                3040 non-null   float64
 52  points_diff                    3040 non-null   float64
dtypes: category(2), datetime64[ns](1), float64(9), int32(1), int64(40)
memory usage: 1.2 MB

In [52]:
df_transformed.head()

,match_api_id,season,stage,date,away_team,home_team,home_team_goal,away_team_goal,result_match,away_shoton,...,wins_diff,home_streak_wins,away_streak_wins,points_home,points_away,win_eachother_home,win_eachother_away,home_sum_points,away_sum_points,points_diff
0,489043,2008/2009,1,2008-08-16,8659,9825,1,0,H,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
1,489044,2008/2009,1,2008-08-16,8650,8472,0,1,A,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
2,489045,2008/2009,1,2008-08-16,8528,8654,2,1,H,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
3,489047,2008/2009,1,2008-08-16,8655,8668,2,3,A,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
4,489048,2008/2009,1,2008-08-16,8586,8549,2,1,H,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0

In [60]:
df_transformed.loc[(df_transformed['home_team'] == 8650) | (df_transformed['away_team'] == 8650)]

,match_api_id,season,stage,date,away_team,home_team,home_team_goal,away_team_goal,result_match,away_shoton,...,wins_diff,home_streak_wins,away_streak_wins,points_home,points_away,win_eachother_home,win_eachother_away,home_sum_points,away_sum_points,points_diff
1,489044,2008/2009,1,2008-08-16,8650,8472,0,1,A,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
15,489052,2008/2009,2,2008-08-23,8549,8650,2,1,H,7,...,0,1,1,3,3,0,0,3.0,3.0,0.0
27,489066,2008/2009,3,2008-08-31,8650,10252,0,0,D,6,...,-8,0,2,3,6,0,0,3.0,6.0,-3.0
35,489072,2008/2009,4,2008-09-13,10260,8650,2,1,H,7,...,7,0,1,7,4,0,0,7.0,4.0,3.0
39,489082,2008/2009,5,2008-09-20,10194,8650,0,0,D,5,...,17,1,0,10,3,0,0,10.0,3.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999,1989054,2015/2016,35,2016-04-23,10261,8650,2,2,D,2,...,51,3,0,54,29,7,4,20.0,8.0,12.0
3014,1989067,2015/2016,36,2016-05-01,8650,10003,3,1,H,7,...,-23,0,0,40,55,1,5,13.0,21.0,-8.0
3025,1989074,2015/2016,37,2016-05-08,9817,8650,2,0,H,8,...,23,0,1,55,44,0,1,20.0,11.0,9.0
3027,1989004,2015/2016,30,2016-05-11,8455,8650,1,1,D,7,...,27,1,0,58,48,7,5,20.0,15.0,5.0
3034,1987606,2015/2016,38,2016-05-15,8650,8659,1,1,D,17,...,-29,0,0,42,59,4,6,7.0,18.0,-11.0